/* Put your custom CSS here */

body {
	margin-top: 70px !important;
}
p {
	margin: 0;
}

.site {
	width: 1024px !important;
}

#playground {
	margin-top: 0px;
	float: left;
	border: 2px solid #eee;
	width: 800px;
	height: 700px;
	overflow-y: scroll;
	background: #FFFFFD;
}


.bot {
	padding: 5px;
	margin: 0;
	background: #FCF8DC;
}

.question, .answer, .make-bold {
	font-weight: bold;
}

#input {
	width: 775px;
}

#users-area {
	float: right;
	margin-top: -750px;
	width: 210px;
	height: 800px;
}

#users {
	min-height: 600px;
	overflow: auto;
	background: #FFFFFD;
	overflow-y: scroll;
	border: 2px solid #eee;
}

#users-list {
	background: #f2f2f2;
	padding: 5px;
}